.App {
  display: flex;
  flex-direction: column;
  background-color: #fcfcfc;
  height: auto;
}

.Header-text {
  object-fit: contain;
  font-family: Baskerville;
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}

.Header-container {
  display: flex;
  align-content: center;
  padding: 10px 150px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  margin-bottom: 70px;
}

.Selector-container {
  display: flex;
  justify-content: center;
}

.News-container {
  display: flex;
  padding: 40px 150px 0 150px;
}

.Select-container {
  padding-left: 150px;
  padding-top: 20px;
}

.Select {
  width: 240px;
  height: 32px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
}

.Select-Options {
  width: 240px;
  height: 32px;
  background-color: #fff;
}
